In [1]:
import pandas as pd

Eversource = pd.read_csv('Eversource.csv')
Eversource.head()

,TOWN,ZIPCODE,Average Customer Duration ( Hours),Total Duration Hours,# Events Affecting Town/Zipcode,Customers Served,Outages Per Customer,Events/Customer Above Average IND,Duration Above Average
0,ABINGTON,6230,24,31729.4,128,104,1.231,BelowAverage,BelowAverage
1,AMSTON,6231,20,166846.9,222,840,0.264,BelowAverage,BelowAverage
2,ANDOVER,6232,24,234042.6,299,1429,0.209,BelowAverage,BelowAverage
3,ASHFORD,6278,21,490057.4,455,2204,0.206,BelowAverage,BelowAverage
4,AVON,6001,21,1020814.8,584,8756,0.067,BelowAverage,BelowAverage

In [2]:
from geoid import acs

In [3]:
ct = pd.read_csv('ct_cbgs.csv')
ct.head()

,Unnamed: 0,GEOID10,Housing burden (percent),Total population,Median household income (% of state median household income),Current asthma among adults aged >=18 years,Coronary heart disease among adults aged >=18 years,Cancer (excluding skin cancer) among adults aged >=18 years,Current lack of health insurance among adults aged 18-64 years,Diagnosed diabetes among adults aged >=18 years,...,Score K (communities),county,tract,bg,zcta5,cntyname,zipname,pop2k,afact,cbgid
0,0,90010101011,0.224719,1058.0,2.370761,8.5,6.7,9.9,5.9,8.6,...,False,9001,101.01,1,6831,Fairfield CT,GREENWICH,779,1.000,90010101011
1,1,90010101012,0.224719,600.0,1.560464,8.5,6.7,9.9,5.9,8.6,...,False,9001,101.01,2,6831,Fairfield CT,GREENWICH,785,1.000,90010101012
2,2,90010101013,0.224719,1221.0,3.187000,8.5,6.7,9.9,5.9,8.6,...,False,9001,101.01,3,6831,Fairfield CT,GREENWICH,1494,1.000,90010101013
3,3,90010101014,0.224719,1393.0,1.659222,8.5,6.7,9.9,5.9,8.6,...,False,9001,101.01,4,6831,Fairfield CT,GREENWICH,1603,1.000,90010101014
4,4,90010101021,0.103586,1358.0,3.187000,8.0,5.0,8.6,4.5,7.0,...,False,9001,101.02,1,6830,Fairfield CT,BYRAM,820,0.617,90010101021

In [4]:
ct = ct.drop(['Current asthma among adults aged >=18 years', 'Coronary heart disease among adults aged >=18 years', 'Cancer (excluding skin cancer) among adults aged >=18 years', 'Diagnosed diabetes among adults aged >=18 years', 'Physical health not good for >=14 days among adults aged >=18 years', ], axis = 1)

In [5]:
ct.head()

,Unnamed: 0,GEOID10,Housing burden (percent),Total population,Median household income (% of state median household income),Current lack of health insurance among adults aged 18-64 years,Percent of individuals < 100% Federal Poverty Line,Percent of individuals < 150% Federal Poverty Line,Percent of individuals < 200% Federal Poverty Line,Area Median Income (State or metropolitan),...,Score K (communities),county,tract,bg,zcta5,cntyname,zipname,pop2k,afact,cbgid
0,0,90010101011,0.224719,1058.0,2.370761,5.9,0.072154,0.237805,0.293699,95645.0,...,False,9001,101.01,1,6831,Fairfield CT,GREENWICH,779,1.000,90010101011
1,1,90010101012,0.224719,600.0,1.560464,5.9,0.000000,0.030837,0.063142,95645.0,...,False,9001,101.01,2,6831,Fairfield CT,GREENWICH,785,1.000,90010101012
2,2,90010101013,0.224719,1221.0,3.187000,5.9,0.050263,0.051013,0.051013,95645.0,...,False,9001,101.01,3,6831,Fairfield CT,GREENWICH,1494,1.000,90010101013
3,3,90010101014,0.224719,1393.0,1.659222,5.9,0.031603,0.041761,0.041761,95645.0,...,False,9001,101.01,4,6831,Fairfield CT,GREENWICH,1603,1.000,90010101014
4,4,90010101021,0.103586,1358.0,3.187000,4.5,0.014239,0.014239,0.069903,95645.0,...,False,9001,101.02,1,6830,Fairfield CT,BYRAM,820,0.617,90010101021

In [11]:
ct_refined = ct[['GEOID10','Median household income (% of state median household income)', 'Area Median Income (State or metropolitan)', 'zipname']].copy()
ct_refined.head()

       GEOID10  Area Median Income (State or metropolitan)    zipname
0  90010101011                                     95645.0  GREENWICH
1  90010101012                                     95645.0  GREENWICH
2  90010101013                                     95645.0  GREENWICH
3  90010101014                                     95645.0  GREENWICH
4  90010101021                                     95645.0      BYRAM